
.header{
    width: 1600px;
    height:200px;
    background-color: #fac716;
    position: fixed;
    text-align: center;

}

#h1{

}
.section{
    width: 100%;
    height: 500px;
}


#home{
     text-align: center;


}

#services{
    font-family: "Garamond", "Georgia", "serif";
    font:20px

}

.login{

}

.schedule{


}


#image1{
    width: 1600px;
    height: 500px;
}