
.flex-container{
    flex-direction: row;
    width: 1600px;
    background-color: #fac716;
    position: fixed;


}
.logo6{
    justify-items: left;
}

.titleGPS{
    font-family: 'Great Vibes', cursive;
    background-color: #fac716;
    font-size: 50px;
    text-align: center;



}

#navbar{
    background-color:#fac716;
    width: 1600px;
    height: 20px
    item:flex-end;
    font-size:30px;
    text-align: center;

#item{
    flex-direction: inherit;
}

}
.section{
    width: 100%;
    height: 500px;
}


#home{
     text-align: center;


}

#services{
    font-family: "Garamond", "Georgia", "serif";
    font:20px

}

.login{

}

.schedule{


}


#image1{
    width: 1600px;
    height: 500px;
}