{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}
Register
    {{ Register }}
{% endblock %}



{% block body_block %}

{% block content %}
<h2>Register</h2>

<!-- <form method="post">   -->
    <form action="{% url 'User' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Register</button><p>
    <a id="item1" href="{% url 'template' %}"> Return to Home</a>
    
   
 

  </ul>
</form>
{% endblock %}


{% endblock %}


