<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <div class="header">
        <div>
            <img src="images/LDPS_Logo6.PNG"/>
        </div>
        <div class="menu">
        <div class="Home">Home</div>
        <div class="Services">Services</div>
        <div class="login">Clients login</div>
        <div class="Schedule">Schedule Appointment</div>
            </div>
    </div>

    <img src="Piano0_oldhands.png" id="image1" style=""/>


</head>
<body>
<h1>GreatPSapp says...</h1>
<div>Let's play some music! <br/>
<strong>{{ boldmessage }}</strong>
</div>
<div>
<a href="/GreatPSapp/about">About</a> <br />
</div>

<script src="gpsmockup.js"></script>
<link rel="stylesheet" href="gpsmockup.css">
</body>
</html>