<!DOCTYPE html>

{% load static %}


<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Scheduling</title>
    <link rel="stylesheet" href="{% static 'GreatPSapp/css/gpsmockup.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">

</head>
<body class="body">
<div class="flex-container">

    <div class="titleGPS"><h1 id="h1">Great Piano Service</h1></div>
    <div id="navbar">
        <a id="item1" href="/">Home</a>
        <a id="item2" href="/services/">Services</a>
        <a id="item3 " href="/login/">Client login</a>
        <a id="item4" href="/scheduling/">Scheduling</a>
        <a id="item5" href="/support/">Support</a>
        <a id="item6" href="/contact/">Contact</a>
    </div>
</div>
<!-- <img src="{% static 'GreatPSapp/images/Piano0_oldhands.png' %}" id="image1" style=""/> -->
<h1>Schedule An Appointment</h1><br><br>
<h1>For information or to schedule and appointment - please call or send an email</h1><br><br>
<h1>SCHEDULE AN APPOINTMENT ONLINE: Fill out the form below </h1>
<!--  url(r'^accounts/register/$', register, name='register'), -->

    <div id="selectd">

    <h2>Contact Information</h2>
    <ul>
  
    First Name:
    <li><input type="text"></li><p>
    Last Name:
    <li><input type="text"></li><p>
    Email:
    <li><input type="email"></li><p>
    Cell phone:
    <li><input type="text"></li><p>
    Work phone:
    <li><input type="text"></li><p>
    Home phone:
    <li><input type="text"></li><p>
      Address:
    <li><input type="text"></li><p>
    City:
    <li><input type="text"></li><p>
    State:
    <li><input type="text"></li><p>
    
    Zip:
    <li><input type="text"></li><p>
       </ul>


        <h2>Select a Day of the Week</h2>
<form action="{% url 'scheduling' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <ul>
            <li><input type="checkbox" name="apt_day" value="Monday">Monday</li>
            <li><input type="checkbox" name="apt_day" value="Tuesday">Tuesday</li>
            <li><input type="checkbox" name="apt_day" value="Wednesday">Wednesday</li>
            <li><input type="checkbox" name="apt_day" value="Thursday">Thursday</li>
            <li><input type="checkbox" name="apt_day" value="Friday">Friday</li>
            <li><input type="checkbox" name="apt_day" value="Saturday">Saturday</li>
        </ul>
    </div>

    <div id="time">
        <h2>Time</h2>
        <ul>
            <li><input type="checkbox" name="apt_time" value="Any Time">Any Time</li>
            <li><input type="checkbox" name="apt_time" value="Morning Any Time">Morning Any Time</li>
            <li><input type="checkbox" name="apt_time" value="Afternoon Any Time">Afternoon Any Time</li>
        </ul>
        Preferred Date and Time:<br>
        <input name="pref-date-time" type="text">
    </div>
    <br>

    <div id="selectd">
        <h2>Pick A Service</h2>
        Which services would you like to schedule?<br>
        Check all that apply
        <ul>
            <li><input type="checkbox" name="service_type" value="tuning">Tunning</li>
            <li><input type="checkbox" name="service_type" value="regulation">Regulation</li>
            <li><input type="checkbox" name="service_type" value="repair">Repair</li>
            <li><input type="checkbox" name="service_type" value="keys">Key Services</li>
            <li><input type="checkbox" name="service_type" value="contract">Annual Contract</li>

            <li><input type="checkbox" name="service_type" value="cleaning">Cleaning</li>
            <li><input type="checkbox" name="service_type" value="appraisal">Appraisal</li>
            <li><input type="checkbox" name="service_type" value="consult">Purchase Consulting</li>
        </ul>

        <input type="submit" value="Submit">

    </div>
</form>

<script src="{% static 'GreatPSapp/js/gpsmockup.js' %}"></script>

</body>
</html>
