{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Schedule Appointment</title>
    <link rel="stylesheet" href="{% static 'GreatPSapp/css/gpsmockup.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
</head>
<body>
<div class="flex-container">
    <div class="logo6"><img src="{% static 'GreatPSapp/images/LDPS_Logo6.PNG' %}"/></div>
    <div class="titleGPS"><h1 id="h1">Great Piano Service</h1></div>
    <div id="navbar">
        <a id="item1" href="/">Home</a>
            <a  id="item2" href="/services/">Services</a>
            <a id="item3 " href="/login/">Client login</a>
            <a id="item4" href="/schedule_appointment/">Schedule Appointment</a>
            <a id="item5" href="/support/">Support</a>
            <a id="item6" href="/contact/">Contact</a>
    </div>
</div>
<img src="{% static 'GreatPSapp/images/Piano0_oldhands.png' %}" id="image1" style=""/>
<h1>Schedule An Appointment</h1><br><br>
<h1>For information or to schedule and appointment - please call or send an email</h1><br><br>
<h1>SCHEDULE AN APPOINT ONLINE: Fill out the form below </h1>

<div id="selectd">Select a Day of the Week
<ul><form></ul><input type="checkbox" name="any day" >Any Day</form>
<form></ul><input type="checkbox" name="any day" >Monday</form>
<form></ul><input type="checkbox" name="any day" >Tuesday</form>
<form></ul><input type="checkbox" name="any day" >Wednesday</form>
<form></ul><input type="checkbox" name="any day" >Thursday</form>
<form></ul><input type="checkbox" name="any day" >Friday</form>
<form></ul><input type="checkbox" name="any day" >Saturday</form></div>

<div id="time">Time
<ul><form></ul><input type="checkbox" name="any day" >Any Time</form>
<form></ul><input type="checkbox" name="any day" >Morning Any Time</form>
<form></ul><input type="checkbox" name="any day" >Afternoon Any Time</form><br>
    <form>Preferred Date and Time:</form>
    <form></ul><input name="any day" ></form></div><br>

<div id="selectd">Pick A Service
    <ul>Which services would you like to schedule?</ul>
    <ul>Check all that apply</ul>
<ul><form></ul><input type="checkbox" name="tuning" >Tunning</form>
   <form></ul><input type="checkbox" name="regulation" >Regulation</form>
    <form></ul><input type="checkbox" name="repair" >Repair</form>
    <form></ul><input type="checkbox" name="keys" >Key Services</form>
<form></ul><input type="checkbox" name="contract" >Annual Contract</form>

<form></ul><input type="checkbox" name="cleaning" >Cleaning</form>
<form></ul><input type="checkbox" name="appraisal" >Appraisal</form>
    <form></ul><input type="checkbox" name="consult" >Purchase Consulting</form></div>


<script src="{% static 'GreatPSapp/js/gpsmockup.js' %}"></script>

</body>
</html>
