{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}
Services
    {{services }}
{% endblock %}



{% block body_block %}
 <div class="services" id="section3">
      <div class="servicelinks">
      <ul>
        <li><div id="tuning" id="preview">Tuning</div></li>
        <li><div id="regulating" id="preview">Regulating</div></li>
        <li><div id="repair" id="preview">Repair</div></li>
        <li><div id="keys" id="preview">Key Tops</div></li>
        <li><div id="voicing" id="previes">Voicing</div></li>
        <li><div id="purchasing" id="preview">Purchase Consulting</div></li>
        <li><div id="humidity" id="preview">Humidity Control</div></li>

        </ul>

      </div>
{% endblock %}

