{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Support</title>
    <link rel="stylesheet" href="{% static 'GreatPSapp/css/gpsmockup.css' %}">
</head>
<body>
<div class="flex-container">
    <div><img src="{% static 'GreatPSapp/images/LDPS_Logo6.PNG' %}"/></div>
    <h1 id="h1">GREAT PIANO SERVICE</h1>
    <div id="navbar">
        <a href="/">Home</a>
            <a href="/services/">Services</a>
            <a href="/login/">Client login</a>
            <a href="/schedule_appointment/">Schedule Appointment</a>
            <a href="/support/">Support</a>
            <a href="/contact/">Contact</a>
    </div>
</div>
<img src="{% static 'GreatPSapp/images/Piano0_oldhands.png' %}" id="image1" style=""/>


<script src="{% static 'GreatPSapp/js/gpsmockup.js' %}"></script>

</body>
</html>