{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}
Home
{% endblock %}



{% block body_block %}

{% endblock %}




   
  <section class="footer" id="section4"></section>
      <div>
      </div>
  
</div>

<div>

</div>
<img src="{% static 'GreatPSapp/images/gpsbkgnd.jpg' %}" id="image1" style=""/>

</div>
 </section>
 
 <div class="services" id="section3">
      <div class="servicelinks">
      <ul>
        <li><div id="tuning" id="preview">Tuning</div></li>
        <li><div id="regulating" id="preview">Regulating</div></li>
        <li><div id="repair" id="preview">Repair</div></li>
        <li><div id="keys" id="preview">Key Tops</div></li>
        <li><div id="voicing" id="previes">Voicing</div></li>
        <li><div id="purchasing" id="preview">Purchase Consulting</div></li>
        <li><div id="humidity" id="preview">Humidity Control</div></li>

        </ul>

      </div>
  </div>
  

<script src="{% static 'GreatPSapp/js/gpsmockup.js' %}"></script>

</body>
</html>


